<h2 class="text-align-center">Registration</h2>
<div class="app-plate">
  <form [formGroup]="registrationForm">
    <div class="registration-form">
      <div>
        <div class="form__control">
          <label for="name">Name</label>
          <input type="text" id="name" placeholder="Input text" formControlName="name"/>
          <span id="nameErrorMessage" class="text-danger" *ngIf="(registrationForm.get('name')?.touched) && registrationForm.get('name')?.errors?.['required']">
            Name is required.
          </span>
        </div>
        <div class="form__control">
          <label for="email">Email</label>
          <input type="text" id="email" placeholder="Input text" formControlName="email"/>
          <span id="emailErrorMessage" class="text-danger" *ngIf="(registrationForm.get('email')?.touched ) && registrationForm.get('email')?.errors?.['required']">
            Email is required.
          </span>
          <span id="emailInvalidMessage" class="text-danger" *ngIf="(registrationForm.get('email')?.touched ) && registrationForm.get('email')?.errors?.['invalidEmail']">
            Please enter a valid email address.
          </span>
        </div>
        <div class="form__control">
          <label for="password">Password</label>
          <input type="password" id="password" placeholder="Input text" formControlName="password"/>
          <span id="passwordErrorMessage" class="text-danger" *ngIf="(registrationForm.get('password')?.touched ) && registrationForm.get('password')?.errors?.['required']">
            Password is required.
          </span>
        </div>
      </div>
      <div class="form__action">
        <app-button type="submit" buttonText="Register" class="w-100" (click)="onSubmit(registrationForm)"></app-button>
      </div>
      <div class="form__text">
        Already have an account? <a routerLink="/login">Login here</a>
      </div>
    </div>
  </form>
</div>
